<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jindie.model.pojos.storempojos.ErpAllot">
    <resultMap id="erpojos" type="ErpAllot">
        <id column="allot_id" property="allotId"></id>
        <result column="allot_name" property="allotName"></result>
        <result column="allot_money" property="allotMoney"></result>
        <result column="allot_num" property="allotNum"/>
        <result column="create_date" property="createDate"></result>
        <result column="allot_approve" property="allotApprove"></result>
        <result column="allot_state" property="allotState"></result>
        <result column="allot_apdate" property="allotApdate"></result>
        <result column="allot_in_address" property="allotInAddress"></result>
        <result column="allot_out_address" property="allotOutAddress"></result>
        <result column="allot_stock" property="allotStock"></result>
        <result column="allot_bz" property="allotBz"></result>
        <collection property="erpProduct" ofType="ErpProduct">
            <id property="productId" column="product_id"/>
            <result property="productName" column="product_name"></result>
            <result property="productPicture" column="product_picture"></result>
            <result property="productMoney" column="product_money"></result>
            <result property="productPrice" column="product_price"></result>
            <result property="productDw" column="product_dw"></result>
            <result property="productNumber" column="product_number"></result>
            <result property="productState" column="product_state"></result>
            <result property="productPf" column="product_pf"></result>
            <result property="productVip" column="product_vip"></result>
            <result property="productName" column="product_name"></result>
        </collection>
    </resultMap>
    <insert id="addAllotm"  >
              insert  into  erp_allot  (
                  allot_id, product_id , allot_name,  allot_money , allot_num , create_date,  allot_approve , allot_state,
allot_apdate  ,allot_in_address  , allot_out_address  ,allot_stock,allot_bz
              ) values (null,#{erpProduct.productId} , #{allotName}, #{allotMoney},#{allotNum},  #{createDate},
         #{allotApprove} ,  #{allotState},   #{allotApdate}    , #{allotInAddress}    , #{allotOutAddress} ,#{allotStock} ,#{allotBz})
    </insert>
</mapper>