<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jindie.model.mapper.storemmapper.ErpCheckMapper">
    <resultMap id="erpcheck" type="ErpCheck">
        <id property="checkId" column="check_id"></id>
        <result property="checkNumber" column="check_number"></result>
        <result property="checkDate" column="check_date"></result>
        <result property="checkStock" column="check_stock"></result>
        <result property="checkUnit" column="check_unit"></result>
        <result property="checkQuantity" column="check_quantity"></result>
        <result property="checkProfitloss" column="check_profitloss"></result>
        <result property="checkName" column="check_name"></result>
        <result property="checkState" column="check_state"></result>
        <result property="checkBz" column="check_bz"></result>
        <collection property="erpProduct" ofType="ErpProduct">
            <id property="productId" column="product_id"/>
            <result property="productName" column="product_name"></result>
        </collection>

        <collection property="erpStore" ofType="cn.gson.jindie.model.pojos.txypojos.ErpStore">
            <id property="storeId" column="store_id"/>
            <result property="storeName" column="store_name"></result>
        </collection>
    </resultMap>
    <select id="erpCheckList" resultMap="erpcheck">
        select *
        from erp_check c
                 left join erp_product ea on c.product_id = ea.product_id
                 left join erp_store e on c.store_id = e.store_id
    </select>



</mapper>