<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jindie.model.mapper.salemapper.OrderMapper">

    <resultMap id="orderMap" type="cn.gson.jindie.model.pojos.salespojos.ErpOrder">

        <id property="orderId" column="order_id" />
        <result property="orderNumber" column="order_number" />
        <result property="documentDate" column="document_date" />
        <result property="deliveryDate" column="delivery_date" />
        <result property="accountReceivable" column="account_receivable" />
        <result property="paymentReceived" column="payment_received" />
        <result property="deliveryStatus" column="delivery_status" />
        <result property="creatorPerson" column="creator_person" />
        <result property="createTime" column="create_time" />
        <result property="approvalStatus" column="approval_status" />
        <result property="orderStatus" column="order_status"/>
        <result property="deliveryOrderNumber" column="delivery_order_number" />
        <result property="currentExaminer" column="current_examiner" />

        <association property="erpCustomer" javaType="cn.gson.jindie.model.pojos.txypojos.ErpCustomer">
            <result property="customerName" column="customer_name" />
            <result property="customerPeople" column="customer_people" />
            <result property="customerPhone" column="customer_phone" />
            <result property="customerLocation" column="customer_location" />
            <result property="customerMoney" column="customer_money" />
            <result property="customerTime" column="customer_time" />
            <result property="customerState" column="customer_state" />
        </association>

        <association property="erpEmp" javaType="cn.gson.jindie.model.pojos.perpojos.ErpEmp" >
            <id property="empId" column="emp_id" />
            <result property="empName" column="emp_name"/>
            <result property="password" column="password"/>
            <result property="phone" column="phone"/>
            <result property="statu" column="statu" />
        </association>

        <association property="erpStore" javaType="cn.gson.jindie.model.pojos.txypojos.ErpStore">
            <id property="storeId"  column="store_id" />
            <result property="storeName" column="store_name"/>
            <result property="storeState" column="store_state" />
        </association>
    </resultMap>


    <select id="findAllSaleOrder" resultMap="orderMap">

        select * from erp_order eo
        left join erp_customer ec on eo.customer_id = ec.customer_id
        left join erp_emp ee on eo.emp_id = ee.emp_id
        left join erp_store es on eo.store_id = es.store_id
        <where>

            <if test="startTime != null and startTime != '' and endTime != null and endTime != '' ">
                and eo.document_date >= #{startTime} and eo.document_date &lt; #{endTime}
            </if>
            <if test="status != null">
                and eo.approval_status = #{status}
            </if>
            <if test="empNameOrStoreNameOrNumber != null and empNameOrStoreNameOrNumber != ''">
                and (es.store_name like #{empNameOrStoreNameOrNumber}
                or ee.emp_name like #{empNameOrStoreNameOrNumber}
                or eo.order_number like #{empNameOrStoreNameOrNumber})
            </if>
        </where>
    </select>


    <resultMap id="deliverOrderMap" type="cn.gson.jindie.model.pojos.salespojos.ErpDeliveryOrder">
        <id property="deliveryOrderId" column="delivery_order_id" />
        <result property="deliveryOrderNumber" column="delivery_order_number" />
        <result property="deliveryTime" column="delivery_time"/>
        <result property="receivables" column="receivables"/>
        <result property="deliveryStatus" column="delivery_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="approvalStatus" column="approval_status"/>
        <result property="orderNumber" column="order_number"/>
        <result property="salesReturnsNumber" column="sales_returns_number"/>
        <result property="unverifiedAmount" column="unverifiedAmount"/>
        <result property="cancelledAmount" column="cancelledAmount"/>
        <result property="currentExaminer" column="current_examiner"/>

        <association property="erpCustomer" javaType="cn.gson.jindie.model.pojos.txypojos.ErpCustomer">
            <result property="customerName" column="customer_name" />
            <result property="customerPeople" column="customer_people" />
            <result property="customerPhone" column="customer_phone" />
            <result property="customerLocation" column="customer_location" />
            <result property="customerMoney" column="customer_money" />
            <result property="customerTime" column="customer_time" />
            <result property="customerState" column="customer_state" />
        </association>

        <association property="erpEmp" javaType="cn.gson.jindie.model.pojos.perpojos.ErpEmp" >
            <id property="empId" column="emp_id" />
            <result property="empName" column="emp_name"/>
            <result property="password" column="password"/>
            <result property="phone" column="phone"/>
            <result property="statu" column="statu" />
        </association>

        <association property="erpStore" javaType="cn.gson.jindie.model.pojos.txypojos.ErpStore">
            <id property="storeId"  column="store_id" />
            <result property="storeName" column="store_name"/>
            <result property="storeState" column="store_state" />
        </association>


    </resultMap>

    <select id="findAllDeliveryOrder" resultMap="deliverOrderMap">
        select * from erp_delivery_order edo
        left join erp_customer ec on edo.customer_id = ec.customer_id
        left join erp_emp ee on edo.emp_id = ee.emp_id
        left join erp_store es on edo.store_id = es.store_id
        <where>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != '' ">
                edo.delivery_time >= #{startTime} and edo.delivery_time &lt; #{endTime}
            </if>

            <if test="status != null">
                and edo.approval_status = #{status}
            </if>

            <if test="empNameOrStoreNameOrNumber != null and empNameOrStoreNameOrNumber != ''">
                and (es.store_name like #{empNameOrStoreNameOrNumber}
                or ee.emp_name like #{empNameOrStoreNameOrNumber}
                or edo.order_number like #{empNameOrStoreNameOrNumber})
            </if>
        </where>
    </select>





    <!--新增订单-->
    <insert id="addOrder" parameterType="cn.gson.jindie.model.pojos.salespojos.ErpOrder" useGeneratedKeys="true" keyProperty="orderId"  keyColumn="order_id">
        INSERT INTO erp_order
        (order_number,document_date,delivery_date,account_receivable,payment_received,
        delivery_status,creator_person,create_time,approval_status,order_status
        ,delivery_order_number,customer_id,emp_id,store_id,current_examiner)
        values (#{orderNumber},#{documentDate},#{deliveryDate},#{accountReceivable},#{paymentReceived},
        #{deliveryStatus},#{creatorPerson},#{createTime},3,2,#{deliveryOrderNumber},#{erpCustomer.customerId}
        ,#{erpEmp.empId},#{erpStore.storeId},#{currentExaminer})
    </insert>
    <insert id="addOrderDetails" parameterType="java.util.List">
        INSERT INTO erp_order_details(order_id,product_name,number,product_price,product_money,order_details_remarks)
        values
        <foreach collection="erpOrderDetails"  item="item" separator="," >
            (#{item.erpOrder.orderId,jdbcType=INTEGER},#{item.productName,jdbcType=VARCHAR},
            #{item.number,jdbcType=INTEGER},#{item.productPrice},#{item.productMoney},
            #{item.orderDetailsRemarks,jdbcType=VARCHAR})
        </foreach>
    </insert>

</mapper>