<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jindie.model.mapper.salemapper.ProductMapper">
    <resultMap id="ProductMap" type="cn.gson.jindie.model.pojos.txypojos.ErpProduct">
        <id property="productId" column="product_id" />
        <result property="productName" column="product_name"/>
        <result property="productPicture" column="product_picture"/>
        <result property="productMoney" column="product_money"/>
        <result property="productPrice" column="product_price"/>
        <result property="productPf" column="product_pf"/>
        <result property="productVip" column="product_vip"/>
        <result property="productDw" column="product_dw"/>
        <result property="productNumber" column="product_number" />
        <result property="productState" column="product_state"/>
<!--        <result column="product_spec" property="productSpec"/>-->
<!--        <result column="product_categories" property="productCategories"/>-->
<!--        <result column="product_unit" property="productUnit"/>-->
<!--        <result column="product_opening_num" property="productOpeningNum"/>-->
<!--        <result column="product_status" property="productStatus"/>-->
<!--        <result column="product_remark" property="productRemark"/>-->
<!--        <result column="product_create_time" property="productCreateTime"/>-->
<!--        <result column="product_sales_price" property="productSalesPrice"/>-->
<!--        <result column="product_purchase_price" property="productPurchasePrice"/>-->
<!--        <result column="product_opening_cost" property="productOpeningCost"/>-->
<!--        <result column="warehouse_id" property="warehouseId"/>-->
<!--        <result column="product_description" property="productDescription"/>-->
    </resultMap>
    
    <select id="findAllProduct" parameterType="cn.gson.jindie.model.pojos.txypojos.ErpProduct" resultMap="ProductMap">
        select * from erp_product
        <where>
            <if test="productNumber != null and productNumber !=''">
                and product_number like concat('%', #{productNumber}, '%')
            </if>
            <if test="productName != null and productName != ''">
                and product_name like concat('%', #{productName}, '%')
            </if>
            <if test="protypeId != null and protypeId != ''">
                and protype_id like concat('%', #{protypeId}, '%')
            </if>
        </where>
<!--        ORDER BY product_create_time desc-->
    </select>
</mapper>