<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jindie.model.mapper.capitalmapper.ReceiptMapper">

    <resultMap id="Receipt" type="cn.gson.jindie.model.pojos.capitalpojos.ErpReceipt">
        <id column="receipt_id" property="receiptId"></id>
        <result column="prepared_by" property="preparedBy"></result>
        <result column="receipt_time" property="receiptTime"></result>
        <result column="receipt_money" property="receiptMoney"></result>
        <result column="receipt_hx_money" property="receiptHxMoney"></result>
        <result column="receipt_discount" property="receiptDiscount"></result>
        <association property="emp" javaType="cn.gson.jindie.model.pojos.perpojos.ErpEmp">
            <id column="epm_id" property="empId"></id>
            <result column="emp_name" property="empName"></result>
        </association>
        <association property="customer" javaType="cn.gson.jindie.model.pojos.txypojos.ErpCustomer">
            <id column="customer_id" property="customerId"></id>
            <result column="customer_name" property="customerName"></result>
            <result column="customer_people" property="customerPeople"></result>
            <result column="customer_phone" property="customerPhone"></result>
            <result column="customer_location" property="customerLocation"></result>
            <result column="customer_dizhi" property="customerDizhi"></result>
            <result column="customer_money" property="customerMoney"></result>
            <result column="customer_time" property="customerTime"></result>
            <result column="customer_state" property="customerState"></result>
        </association>
    </resultMap>


    <resultMap id="DeliveryOrder" type="cn.gson.jindie.model.pojos.salespojos.ErpDeliveryOrder">
        <id column="delivery_order_id" property="deliveryOrderId"></id>
        <result column="order_number" property="orderNumber"></result>
        <result column="receivables" property="receivables"></result>
        <result column="unverifiedAmount" property="unverifiedAmount"></result>
        <result column="cancelledAmount" property="cancelledAmount"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>

    <!--查询销货单-->
    <select id="SerDeliveryOrder" resultMap="DeliveryOrder">
        select * from erp_delivery_order where cancelledAmount!=receivables
    </select>

    <!--根据销货id，查询对应的销货单-->
    <select id="findByDeliveryOrderId" resultMap="DeliveryOrder">
        select * from erp_delivery_order where delivery_order_id=#{deliveryOrderId}
    </select>

    <!--新增收款单-->
    <insert id="InReceipt">
        insert into erp_receipt values (#{receiptId},#{emp.empId},#{customer.customerId},#{preparedBy},
        #{receiptTime},#{receiptMoney},#{receiptHxMoney},#{receiptDiscount})
    </insert>

    <!--新增收款记录单-->
    <insert id="InReceiptRecord">
        insert into erp_receipt_record values (#{reId},#{receipt.receiptId},#{account.accountId},
        #{deliveryOrder.deliveryOrderId},#{reWay},#{reMark},#{reMoney},#{reRemark},#{empName},#{empState})
    </insert>

    <!--新增收款单时修改客户的欠款金额-->
    <update id="upCustomerMoney">
        update erp_customer set customer_money=customer_money+#{receiptMoney} where customer_id=#{customer.customerId}
    </update>

    <!--新增收款单时修改未销金额，以销金额-->
    <update id="upUnverifiedAmount">
        update erp_delivery_order set unverifiedAmount=receivables-#{receiptHxMoney},
        cancelledAmount=cancelledAmount+#{receiptHxMoney}
        where delivery_order_id=#{deliveryOrder.deliveryOrderId}
    </update>

    <!--新增收款单时修改账号的金额-->
    <update id="upAccountMoney">
        update erp_account set account_money=account_money+#{reMoney}
        where account_id=#{account.accountId}
    </update>


<!--    &lt;!&ndash;修改付款单的所有值&ndash;&gt;-->
<!--    <update id="upReceipt">-->
<!--        update erp_receipt set emp_id=#{emp.empId},customer_id=#{customer.customerId},-->
<!--        prepared_by=#{preparedBy},receipt_time=#{receiptTime},receipt_money=#{receiptMoney},-->
<!--        receipt_hxmoney=#{receiptHxMoney},receipt_discount=#{receiptDiscount}-->
<!--        where receipt_id=#{receiptId}-->
<!--    </update>-->

<!--    &lt;!&ndash;修改付款记录单的所有值&ndash;&gt;-->
<!--    <update id="upReceiptRecord">-->
<!--        update erp_receipt_record set receipt_id=#{receipt.receiptId},-->
<!--        account_id=#{account.accountId},delivery_order_id=#{deliveryOrder.deliveryOrderId},-->
<!--        re_way=#{reWay},re_mark=#{reMark},re_money=#{reMoney},re_remark=#{reRemark},-->
<!--        emp_name=#{empName},emp_state=#{empState}-->
<!--        where re_id=#{reId}-->
<!--    </update>-->

</mapper>