<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jindie.model.mapper.txymapper.TxyProductMapper">
    <resultMap id="products" type="cn.gson.jindie.model.pojos.txypojos.ErpProduct">

        <id property="productId" column="product_id"></id>
        <result property="productName" column="product_name"></result>
        <result property="productPicture" column="product_picture"></result>
        <result property="productMoney" column="product_money"></result>
        <result property="productPrice" column="product_price"></result>
        <result property="productDw" column="product_dw"></result>
        <result property="productNumber" column="product_number"></result>
        <result property="productState" column="product_state"></result>
        <result property="productPf" column="product_pf"></result>
        <result property="productVip" column="product_vip"></result>
        <result property="protypeId" column="protype_id"></result>
        <association property="storeId" javaType="cn.gson.jindie.model.pojos.txypojos.ErpStore">
            <id column="store_id" property="storeId"/>
            <result column="store_name" property="storeName"/>
        </association>
    </resultMap>
    <!--查询所有商品-->
    <select id="allProduct" resultMap="products">
        select * from erp_product e
        left join erp_store es on e.store_id = es.store_id
    </select>
</mapper>