<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jindie.model.mapper.txymapper.TxyAccountMapper">
    <resultMap id="account" type="cn.gson.jindie.model.pojos.txypojos.ErpAccount">
        <id column="account_id" property="accountId"></id>
        <result column="account_name" property="accountName"></result>
        <result column="account_balance" property="accountBalance"></result>
        <result column="account_money" property="accountMoney"></result>
        <result column="account_time" property="accountTime"></result>
        <result column="account_state" property="accountState"></result>
    </resultMap>

    <!--查询所有账户-->
    <select id="allAccount" resultMap="account">
        select * from erp_account
    </select>

    <!--新增账户-->
    <insert id="addAccount">
        insert into erp_account(account_name, account_money, account_time)
        values(#{accountName},#{accountMoney},#{accountTime})
    </insert>

    <!--修改账户-->
    <update id="updateAccount">
        update erp_account set account_name=#{accountName}
        where account_id=#{accountId}
    </update>

    <!--冻结账户-->
    <update id="deleteAccount">
        update erp_account set account_state=0
        where account_id=#{accountId}
    </update>
</mapper>