<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jindie.model.mapper.txymapper.TxyCustomerMapper">
    <resultMap id="customer" type="cn.gson.jindie.model.pojos.txypojos.ErpCustomer">
        <id column="customer_id" property="customerId"></id>
        <result column="customer_name" property="customerName"></result>
        <result column="customer_people" property="customerPeople"></result>
        <result column="customer_phone" property="customerPhone"></result>
        <result column="customer_location" property="customerLocation"></result>
        <result column="customer_money" property="customerMoney"></result>
        <result column="customer_time" property="customerTime"></result>
        <result column="customer_state" property="customerState"></result>
        <association property="emps">
            <id column="emp_id" property="empId"></id>
            <result column="emp_name" property="empName"></result>
        </association>
    </resultMap>

    <!---->
</mapper>