<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jindie.model.mapper.txymapper.TxyProviderMapper">
    <resultMap id="providerList" type="cn.gson.jindie.model.pojos.txypojos.ErpProvider">
        <id column="provider_id" property="providerId"/>
        <result column="provider_name" property="providerName"/>
        <result column="provider_people" property="providerPeople"/>
        <result column="provider_phone" property="providerPhone"/>
        <result column="provider_location" property="providerLocation"/>
        <result column="provider_money" property="providerMoney"/>
        <result column="provider_time" property="providerTime"/>
        <result column="provider_state" property="providerState"/>
        <association property="gysId" javaType="cn.gson.jindie.model.pojos.txypojos.ErpProviderType">
            <id column="gys_id" property="gysId"/>
            <result column="gys_name" property="gysName"/>
        </association>
    </resultMap>

    <select id="findProvider" resultMap="providerList">
        select * from erp_provider p
        left join erp_provider_type ept on p.gys_id = ept.gys_id
    </select>
</mapper>